h1 {
    color: rgb(43, 5, 5);
}
.text2{
    text-decoration: underline;
transition: all 1s linear;
font-size: 10vw;}
.text2:hover{
    font-size: 8vw;
    color: #d7217c;
    transition: all 1s linear;

}
.my_text{
    text-decoration: line-through;
    font-size: 6vw;
}

#link_a{
    text-decoration: none;
    font-size: 40px;
    color: aliceblue;
    width: 100%;
}