body{
    width: 100%;
    overflow-x: hidden;
}

.main_about{ 
width: 80%;
margin: 0% auto;
}

.div_for_text, .div_for_img {
    width: 50%;
}

.div_for_text h1, .div_for_text p{
    text-align: left;
    margin-left: 0%;
    color: #000;
}

.div_for_text h1 {
font-size: 50px;
}

.div_for_text p {
font-size: 20px;
}

.blok1 {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.NARIK3_ {
    width: 180%;
}

h1 {
    color: rgb(43, 5, 5);
    font-size: 5vw;
    font-weight: 25;
}
.text2{
    text-decoration: underline;
transition: all 1s linear;
font-size: 10vw;}

.text2:hover{
    font-size: 8vw;
    color: #d7217c;
    transition: all 1s linear;

}
.my_text{
    text-decoration: line-through;
    font-size: 6vw;
}

#link_a{
    text-decoration: none;
    font-size: 40px;
    color: aliceblue;
    width: 100%;
}

.main_second{ 
width: 80%;
margin: 0% auto;
}

.div_for_text2, .div_for_img2 {
    width: 50%;
}

.div_for_text2 h1, .div_for_text2 p{
    text-align: left;
    margin-left: 0%;
    color: #000;
}

.div_for_text2 h1 {
font-size: 50px;
}

.div_for_text2 p {
font-size: 20px;
}

.blok2 {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.NARIK4_ {
    width: 100%;
    margin-left: 0%;
}



.main_thrird {
    width: 80%;
margin: 0% auto;
}

 .div_for_text_third, .div_for_img_third {
    width: 50%;
}

.div_for_text_third h1, .div_for_text_third p{
    text-align: left;
    margin-left: 0%;
    color: #000;
}

.div_for_text_third h1 {
font-size: 50px;
width: 100%;
}

.div_for_text_third p {
font-size: 20px;
}

.blok3 {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.NARIK5_ {
    width: 200%;
}